.icon {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-logo_yr {
	width: 30px;
	height: 18px;
	fill: #FFFFFF;
}
.icon-ico_cog {
	width: 18px;
	height: 18px;
	fill: #FFFFFF;
}
.icon-ico_geonav {
	margin-top:15px;
	margin-left:11px;
	width: 18px;
	height: 18px;
	fill: #007fa9;
}
.icon-geo_loader {
	margin-top:15px;
	margin-left:11px;
	width: 18px;
	height: 18px;
	fill: #007fa9;
}